body {
    font-family: Arial;
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    transform: translateX(100px);
    transform: translateY(-50px);
    display: flex;
    align-items: center;
    gap: 50px;
}

.text {
    text-align: center;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 18px;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}
